/* Defina a bolinha branca como cursor do mouse */

body {
  font-family: 'GoshaSans', sans-serif;
  font-weight: bold;
  margin: 0;
  background-color: #0a0e12;
}
@font-face {
  font-family: 'GoshaSans';
  src: url('fonts/GoshaSans-Bold.otf') format('opentype');
  
}
html {
  scroll-behavior: smooth;
}

::selection {
  background: #a555ff;
  color: rgb(255, 255, 255);
}
img {
  user-select: none; /* Impede a seleção de texto e elementos */
  -webkit-user-drag: none; /* Impede o arrastar da imagem no Safari */
  -webkit-touch-callout: none; /* Impede a chamada de contexto no iOS */
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #090909;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.overlaytop {
position: fixed;
  bottom: 0; /* Modificado para bottom */
  
  width: 100%;
  height: 100%;
  background-color: #3cc7fa;
  z-index: 9999;
  animation: slideOut 2s ease forwards;
}

@keyframes slideOut {
0% {
      height: 100%; /* Começa com altura zero */
     
  }
  100% {
      height: 0; /* Cresce até a altura total */
      opacity: 1;
  }
}

.slideIn {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.5s, transform 0.5s;
}

/* Adiciona classe para animação */
.slideIn.active {
  opacity: 1;
  transform: translateY(0);
}.menu-icon {
  display: inline-block;
}

.d-none {
  display: none;
}
.social-icons-footer {
  float: right;
  font-size: 35px;
  margin-right: 100px;
  padding-top: 0px;
}
.social-icons-footer a {
  display: inline-block;
  color: rgb(51, 49, 49);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.2s;
}
.social-icons-footer a:hover {
  cursor: pointer;
  color: #87879b;
  transition: 0.2s;
}
.navbar-toggler
{
  display: none;

}
/* Mobile Styles */

  .footer .left ul {
    list-style-type: none; /* Remove os marcadores de lista */
    padding: 0;margin-top: 30px;
  }
  .footer .left i {
  margin-right: 20px;
  }
  .footer .left{
    padding-left: 50px;
  }
  .videointro {
    width: 100%;
   
    overflow: hidden;
    position: relative;
  }


  .videointro img {
    width: 30%;
    height: 100%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 35%;
    /* transform: translateX(-50%); */
    /* transition: width 0.2s ease-in-out; */
} 
  .divapresentacao{
    background-color: #61cfff;
   
    display: flex;
    margin-top: -5px;
    justify-content: center;
    text-align: center;
  }
  .textapresentacao{
    width: 900px;
    justify-content: center;
    display: flow;
    text-align: center;
    font-size: 35px;
    color: #fff;
  }

  .divapresentacao2{
    margin-top: -10px;
    background-color: #8945fe;
    
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .div-apresentacao{
    display: flex;
    justify-content: center;
  }
  .textapresentacao2{
    width: 900px;
    font-size: 35px;
    color: #fff;
  }
  .diferencial img{
    width: 100%;
   height: 500px;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1; /* Colocando acima da imagem */
  }

.txt-animado{
  font-size: 70px;
  font-weight: 300;
  color: #fff;
  margin-top: 300px;
}
.txt-animado span{
  position: relative;
 

}
.txt-animado span::before{
  content: ""; 
  font-weight: bold;
  color: #19dfff;
  animation: worlds 10s infinite;
}

.txt-animado span::after{
  content: "";
  position: absolute;
  height: 100%;
  border-left: 2px solid #fff;
  right: -10px;
  opacity: 1;
  animation: cursor .7s infinite, digita 10s steps(15) infinite;
  width: calc(100% + 18px);
  background-color: #3cc7fa;
}


@keyframes digita{
  10%, 15%, 30%, 35%, 40%, 55%, 70%, 75%, 90%, 95%{
    width: 0;
  }
  5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
    width:  calc(100% + 18px);
  }
}

@keyframes cursor{
  0%{
    border-left: 2px solid #3cc7fa;
  }
}

@keyframes worlds{
  0%, 20%{
    content: "Estandes para Eventos";
  }
  21%, 40%{
    content: "Projetos 3D e Renders";
  }
  41%, 60%{
    content: "Ativação de Marca";
  }
  61%, 80%{
    content: "Eventos Corporativos";
  }
  81%, 100%{
    content: "Comunicação Visual";
  }
}
.diferencial {
  position: relative; /* Necessário para o posicionamento absoluto funcionar */
}
.slide.active ~ .transition {
  animation: slideOut1 0.5s ease forwards;
}

@keyframes slideOut1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
.carousel-container {
  position: relative;
  justify-content: center;
  width: 100%;
  height: 950px;
  /* box-shadow: 0px 0px 20px #303048; */
  /* border-radius: 15px; */
  overflow: hidden;
  display: flex;
  align-items: center;
}

.carousel {
  flex: 1;
  height: 100%;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


.dot {
  width: 30px;
  height: 30px;
  background-color: #1d2227;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot {
  position: relative; /* Adicione esta propriedade */
}

.dot.active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  animation: drop 0.5s ease forwards;
}

@keyframes drop {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.contatoarp{
  display: flex;
  padding: 100px;
  color: #fff;
  justify-content: center;
  background-color: #000;
}

.left img {
  max-width: 100%; /* Garante que a imagem não ultrapasse a largura da div */
  height: auto; /* Mantém a proporção da imagem */
}
.ggdigital img {
  width: 60px;
  height: auto;
}
.ggdigital {
justify-content: center;
display: flex;
}
 .left{
 
    border-top-right-radius: 50px;

    border-bottom-right-radius: 50px;
   

 }
.right {
  width: 620PX;
  border-top-left-radius: 50px;
  padding: 0 20px;
  border-bottom-left-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.divider {
  width: 1px; /* Largura da barra vertical */
  height: 80%; /* Altura da barra vertical */
  background-color: white; /* Cor da barra vertical */
}
.right p{
  font-size: 20px;

}
.right h1 {
  font-size: 50px;
  margin-top: 0; /* Remove o espaço superior padrão do título */
}

button {
  /* Seus estilos de botão aqui */
}

.navdots {
 padding-bottom: 10px;
  padding-top: 50px;
  margin-top: -20px;
  background-color: #0a0e12;
}
.slide {
  display: none;
  transition: opacity 0.5s ease-in-out;
}

.active {
  display: block;
  opacity: 1;
}



.containerinfo {
  display: flex;
  padding-top: 70px ;
  align-items: center;
}

.videoinfo {

  margin-right: 20px; /* Espaço entre o vídeo e o texto */
}

.textinfo {
  WIDTH: 800PX;
  margin-right: 150px;
  margin-left: 50px;
  color: #303048;
}
/* Para garantir que o vídeo ocupe toda a largura disponível */
.videoinfo video {
  width: 100%;
  BOX-SHADOW: 0px 0px 20px #828282;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 100%;
}







.containerinfo2 {
  display: flex;
  padding-top: 100px ;
  align-items: center;
}

.videoinfo2 {
  
  margin-left: 20px; /* Espaço entre o texto e o vídeo */
}

.textoinfo2 {
  WIDTH: 800PX;
  margin-left: 150px;
 margin-right: 50px;
  color: #303048;
  text-align: right;

}

/* Para garantir que o vídeo ocupe toda a largura disponível */
.videoinfo2 video {
  width: 100%;
  BOX-SHADOW: 0px 0px 20px #828282;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 100%;
}

.imagem-background {
  position: absolute;
  z-index: 999; /* Define a ordem de empilhamento para trás */
}.imagem-background img {
  width: 500px;
  margin-top: -200px;
  margin-left: 100px;
}
.marginp p{
  padding-top: 10px;
}

.imagem:hover {
  transform: scale(1.2); /* Aumenta o tamanho da imagem em 20% quando o mouse passa por cima */
}
.imagem-container {
  display: flex;
  margin-top: 0px;
}

.imagem {
  width: 250px;
  height: 200px;
  /* height: auto; */
  margin: 0 5px;
  transition: transform 0.3s;
}

.imagem:hover {
  transform: scale(1.1); /* Aumenta o tamanho da imagem em 10% quando o mouse passa por cima */
}

.imagensportifolio{
  margin-top: 10px;
}

.footer > div {
  flex: 1;
}

.leftfooter, .centerfooter, .rightfooter {
  margin: 10px;
}

.footer-logo {
  max-width: 100px;
}

.vertical-menu {
  list-style-type: none;
  padding: 0;
}

.vertical-menu li {
  margin-bottom: 10px;
}

.vertical-menu a {
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
}

.vertical-menu a:hover {
  color: #8b8b8b;
  transition: 0.2s;
  text-decoration: none;
}
.social-icons-footer a {
  color: #fff;
  margin-right: 10px;
  font-size: 20px;
}

.left ul {
  list-style-type: none;
  padding: 0;
}

.left ul li {
  font-family: monospace;
  font-weight: 100;
  margin-bottom: 5px;
}
.ggdigital {
  display: flex;
  align-items: center;
}

.ggdigital .marginp {
  margin-right: 5px;
}

.ggdigital img {
  max-width: 100px;
}
.footer {
  position: relative;
  bottom: 0;
  left: 0;
   padding-top: 0px; 
  border-top: 10px solid #ffffff00;
  border-bottom: 10px solid #ffde04;
  color: #ffffff;
  width: 100%;
  margin-top: -15px;
  display: table;
  justify-content: space-between;
  align-items: center;
}

.footer-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.footer-background img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta a imagem para cobrir todo o espaço */
}



.footer .left,
.footer .right {
  color: #000;
  width: 25%; /* Largura das divs laterais */
  height: 100px; /* Altura das divs laterais */
  background-color: #ffde04; /* Cor de fundo das divs laterais */
}

.footer .center {
  width: 50%; /* Largura da div central */
  text-align: center; /* Alinha o conteúdo centralizado horizontalmente */
}
.contact{
  width: 300px;
  border-radius: 50px;
  background-color: #fff;
}
.contact:hover{
  background-color: #000;
  color: #fff;
}
.contact:hover {
  font-size: 18px;
  transform: none;
  box-shadow: 0px 0px;
  padding: 15px;
  transition: 0s;
}
.marginp p {
  font-size: medium;
  color: #909090;
  font-family: monospace;
  padding-top: 10px;
}
.footer .left ul {
  list-style-type: none;
  padding: 0;
  margin-top: 45px;
}
.parallax {
  background-attachment: fixed;
  background-position: center;
  justify-content: center;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  background-size: cover;
  /* Adicione outras propriedades de estilo conforme necessário */
  height: 200px; /* Altura desejada para as divs parallax */
  padding: 50px;
}
.parallax h1{
  font-size: 55px;
  font-weight: bold;
  font-family: Arial, sans-serif;
 color: #fff;  letter-spacing: -1px;
}

.contact-form {
  width: 100%;
  justify-content: center;
 
}
.login-box {
  top: 50%;
  left: 50%;
  padding: 40px;
  background: #efefef00;
  box-sizing: border-box;

 
}
.texttittle{
  justify-content: center;
  color: #0e0912;
}
.texttittle h1 {
  font-family: 'GoshaSans', sans-serif;
  font-weight: 500;
}
.texttittle h2 {
  margin-top: -10px;
  color: #ababab;
  font-family: monospace;
  font-weight: 200;
  font-size: 17px;
}

.login-box p:first-child {
  margin: 0 0 30px;
  padding: 0;
  color: #0e0912;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #0e0912;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #0e0912;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  font-family: monospace;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 500;
  color: #9d9d9d;
  pointer-events: none;
  transition: .5s;
}
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #0e0912;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  color: #0e0912;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 3px
}

.login-box a:hover {
  background: #fff;
  color: #272727;
  border-radius: 5px;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fff);
  animation: btn-anim1 1.5s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fff);
  animation: btn-anim2 1.5s linear infinite;
  animation-delay: .375s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fff);
  animation: btn-anim3 1.5s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fff);
  animation: btn-anim4 1.5s linear infinite;
  animation-delay: 1.125s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,100% {
    bottom: 100%;
  }
}

.login-box p:last-child {
  color: #181616;
  font-size: 17 px;
}

.login-box a.a2 {
  color: #fff;
  text-decoration: none;
}

.login-box a.a2:hover {
  background: transparent;
  color: #aaa;
  border-radius: 5px;
}
.contact-info {
 width: 400px;
 color: #fff;
 text-align: left;
  margin-left: 100px; /* Ajuste conforme necessário */
}
#formdiv {
  height: 750px;
  background-image: url('../assets/formimg.png');
  /* Adicione outras propriedades de estilo conforme necessário */
}
.contactbutton{
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  font-size: 25px;
  border: none;
  font-weight: bold;
}
.contactbutton:hover{
  background-color: #000000;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  transition: 0.2s;
  transform:none;
}

.divtext{
justify-content: center;
font-size: 15px;

color: #fff;
text-align: center;
}

.divforms {
  justify-content: center ;
  display: flex;
  width: 100%;
}




.divforms img {
  width: 100%;
  height: auto;
  display: block;
}


      .form-contact-top {
          display: flex;
          justify-content: space-between;
      }
      .form-contact-top form {
          border: 2px solid white;
          border-radius: 20px;
          width: 469px;
          padding: 50px;
      }
      .form-contact-top form input{
          border-radius: 10px;
          padding: 18px;
          width: 428px;

      }
      .form-contact-top form select {
          border-radius: 10px;
          padding: 10px;
          width: 470px;
      }
      .btn-form1{
          background-color: #17D5ff;
      }
      .form-left {
          flex: 1;
          display: flex;
          width: 413px;
          margin-right: 94px;
          justify-content: right;
      }
      .form-right {
          flex: 1;
          text-align: center;
      }
#topo a.current {
  color: #19dfff; 
}



/*TEXTO-EMPRESAS*/
.texto-empresas {
  text-align: center;
  background-color: #0e0912;
 
}
.texto-empresas h1{
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #fff;
  padding: 30px;

}
.grupo-divs {
  display: flex;
  margin-top: 20px;
  justify-content: space-evenly;
}

.empresa p {
  margin-top: 10px;
}


.empresa {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.empresa img {
  height: 150px;
  transition: transform 0.5s;
}

.empresa .descricao {
  position: absolute;
 
  left: 0;
  width: 100%;
  background-color:transparent;
  color: #fff;
  transform: translateY(100%);
  transition: transform 0.4s ease-in-out;
}
.empresa .descricao h2{
  color: #17D5ff;
  font-weight: bold;
}
.item:hover .video-overlay {
  display: block;
}
.item img, .item video {
  width: 80px;
  height: 80px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  transition: filter 0.3s ease-in-out;
}
.container-icons .item img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border-radius: 50%;
}
.container-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.container-icons .item {
  display: flex;
  align-items: center;
  background-color: #ececec;
  padding: 20px;
  width: 320px;
  text-align: left;
  border-radius: 8px;
  /* flex: 1 1 calc(25% - 20px); */
  box-sizing: border-box;
}
.container-icons .item img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border-radius: 50%;
}
.container-icons .item h1 {
  font-size: 24px;
  margin: 0;
}
.container-icons .item p {
  margin: 0;
}
.custom-list {
  color: #979797;
  list-style-type: none;
  margin-top: 20px;
  padding-left: 0;
}

.custom-list li {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #c5c5c5; /* Cor do texto */
  display: flex;
  align-items: center;
}

.custom-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: #ffde04;
  color: #fff;
  margin-right: 10px;
  font-size: 12px;
}
.faixa {
  width: 100%;
  height: 200px;
  background-color: #ccc; /* Pode alterar para a cor desejada */
  overflow: hidden; /* Garante que o conteúdo que ultrapassar a div seja escondido */
  position: relative;
}

.faixa img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta a imagem para cobrir a div sem distorção */
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 1500px) {
  .navbar {
    width: 100%;
    top: 0;
    left: 0;
    transform: none;
    border-radius: 0;
  }
  .navbar-brand {
    margin-left: 20px;
    display: none;
}
.navbar-nav {
  display: none;
  width: 100%;
  position: static;
  transform: none;
  background-color: rgb(0 0 0 / 90%);
  backdrop-filter: blur(10px);
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-100%);
}
  .navbar-nav.active {
    display: flex;
    transform: translateY(0); /* Mostra o menu descendo */

  }
  .navbar-nav li {
    width: 100%;
  }
  .navbar-nav li a {
    width: 100%;
   
  }
  .social-icons {
    float: none;
    margin: 0;
    text-align: center;
  }
  .navbar-toggler {
    display: block;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 40px;
    cursor: pointer;
}

}
.footer-div{
  justify-content: space-around;
  display: flex;
}
.footer-div img{
height: 120px;
}
.footer-div span{
  color: #ffde04;
}
.vertical-menu {
  color: #5c5c5c;
  text-align: end;
}
.footer-bottom-div{
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}
.footer-div .center-footer {
  width: 700px;
  text-align: center;
  font-size: 19px;
  font-weight: 100;
}
@media (max-width: 1100px) {
  .footer {
    bottom: 0;
    left: 0;
    padding-top: 10px;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #ffde04;
    color: #ffffff;
    width: 100%;
    background-color: #000000;
    display: grid;
    justify-content: center;
    align-items: center;
}
.footer .left, .footer .right {
  color: #000;
  display: grid;
  padding: 0px;
  justify-content: center;
  width: 100%;
  border-radius: 0px;
  padding-left: 0px;
  height: 100px;
  background-color: #ffde04;
}
.footer-div {
 
  justify-content: space-around;
  display: ruby;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
}
.footer-div .center-footer {
  width: 100%;
  text-align: center;
  font-size: 13px;
  font-weight: 100;
  /* padding: 30px; */
}
.vertical-menu {
  font-family: monospace;
  color: #5c5c5c;
  font-weight: 100;
  text-align: center;
}

.ggdigital img {
  width: 30px;
  height: auto;
}
.ggdigital .marginp {
  margin-right: 5px;
  margin-bottom: 10px;
  font-size: 10px;
}.footer .center {
  width: 100%;
  text-align: center;
  fot: 10px;
  font-size: 12px;
}
.footer-bottom-div .left i{
  display: none;
}
.footer-bottom-div {
  font-size: 12px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: contents;
}
.footer .left {
  display: none;
  padding-left: 50px;
}
}