
/* Defina a bolinha branca como cursor do mouse */

body {
  font-family: 'GoshaSans', sans-serif;
  font-weight: bold;
}
@font-face {
  font-family: 'GoshaSans';
  src: url('fonts/GoshaSans-Bold.otf') format('opentype');
  
}
  html {
    scroll-behavior: smooth;
  }
  
  
  img {
    user-select: none; /* Impede a seleção de texto e elementos */
    -webkit-user-drag: none; /* Impede o arrastar da imagem no Safari */
    -webkit-touch-callout: none; /* Impede a chamada de contexto no iOS */
  }

  .navbar-background img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta a imagem para cobrir todo o espaço */
}
.navbar-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
  .overlaytop {
  position: fixed;
    bottom: 0; /* Modificado para bottom */
    
    width: 100%;
    height: 100%;
    background-color: #e0dede;
    z-index: 9999;
    animation: slideOut 2s ease forwards;
  }
  .faixa-footer{
    justify-content: center;
    display: flex;
    color: #9e9d9d;
  }
  .faixa-footer a{
    color: #141414;
  }
  @keyframes slideOut {
  0% {
        height: 100%; /* Começa com altura zero */
       
    }
    100% {
        height: 0; /* Cresce até a altura total */
        opacity: 1;
    }
  }
  
  .slideIn {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s, transform 0.5s;
  }
  
  /* Adiciona classe para animação */
  .slideIn.active {
    opacity: 1;
    transform: translateY(0);
  }.menu-icon {
    display: inline-block;
  }
  
  .d-none {
    display: none;
  }
  .overlay-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000a6;
    z-index: 99;
}
  .d-none {
    display: none;
  }
  
  
  .textapresentacaodiv{
    width: 300PX;
  }
  .navbar {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    color: #ffffff;
    border-top: 5px solid #ffde0400;
    left: 0;
    box-shadow: 0 4px 8px rgb(0 0 0 / 0%);
    transform: none;
    background-color: rgb(255 255 255);
    backdrop-filter: blur(0px);
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    z-index: 999;
    transition: background-color 0.3s ease;
}.navbar-nav li a {
  display: block;
  color: #000000;
  font-weight: 100;
  text-align: center;
  padding: 14px 16px;
  letter-spacing: 2px;
  font-family: math;
  font-size: 14px;
  padding-top: 35px;
  text-decoration: none;
  transition: 0.2s;
}
.navbar.scrolled .navbar-brand img {
  content: url(../assets/logo2.png);
}
.navbar.scrolled .navbar-nav li a {
  color: #ffffff;
}
.navbar.scrolled .navbar-nav li a:hover {
  color: #ffffff;
}
.navbar.scrolled .social-icons a i {
  color: #ffffff;
}

.navbar.scrolled .contact-buttom {
  padding: 10px;
  background-color: #00000000;
  border-radius: 0px;
  color: #ffffff;
  border: 3px solid #ffffff;
  font-weight: bold;
  transition: 0.2s;
}

.navbar-nav li a:hover {
  display: block;
  color: #7a7a7a;
  text-align: center;
  
  padding: 14px 16px;
  /* font-family: 'GoshaSans', sans-serif; */
  font-size: 14px;
  padding-top: 30px;
  text-decoration: none;
  transition: 0.2s;
}

  .navbar-brand {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 18px;
  }
  .navbar-brand img {
    height: 50px;
    margin-left: 50px;
  }
  .navbar-nav {
    display: flow;
    list-style: none;
    margin-left: 55%;
    margin-top: -150px;
}
  .navbar-nav li {
    float: left;
  }
  @font-face {
    font-family: 'GoshaSans';
    src: url('fonts/GoshaSans-Bold.otf') format('opentype');
    font-weight: bold;
}

.social-icons {
  float: right;
  margin-right: 70px;
  padding-top: 15px;
}
  .social-icons a {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 14px 2px;
    text-decoration: none;
    transition: 0.2s;
}
  .social-icons a:hover {
    cursor: pointer;
    color: #FFDE04;
    transition: 0.2s;
  }
  .social-icons-footer {
    float: right;
    font-size: 35px;
    margin-right: 100px;
    padding-top: 0px;
  } 
  .social-icons-footer a {
    display: inline-block;
    color: rgb(51, 49, 49);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.2s;
  }
  .social-icons-footer a:hover {
    cursor: pointer;
    color: #141414;
    transition: 0.2s;
  }
  .navbar .social-icons a i {
    background-color: #ffde0400;
    color: #000000;
    border-radius: 50%;
    padding: 10px;
    margin: 0 5px;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}
.navbar.scrolled {
  background-color: #00000003;
  box-shadow: 0px 10px 10px #00000012;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
}
  .navbar-toggler {
    display: block;
    color: #FFF;
    float: right;
    margin-top: 25px;
    margin-right: 50px;
    font-size: 40px;
    cursor: pointer;
}

@media (max-width: 1500px) {
    .navbar {
      width: 100%;
      top: 0;
      left: 0;
      border-bottom-right-radius: 50px;
      border-bottom-left-radius: 50px;
      transform: none;
     
    }
    .overlay-content h2 {
      font-size: 20px;
      line-height: 20px;
      text-align: left;
      font-weight: 400;
      margin-bottom: 5px;
      margin-top: 5%;
      margin-left: 5%;
  }
    .navbar-nav {
      float: left;
      margin: 0;
      padding: 0;
      list-style: none;
      position: static;
      left: 25%;
      transform: translateX(-50%);
  }
    .navbar-brand {
      margin-left: 20px;
      display: none;
  }
  .navbar {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    color: #000000;
    border-top: 5px solid #ffde0400;
    left: 0;
    box-shadow: 0 4px 8px rgb(0 0 0 / 0%);
    transform: none;
    background-color: rgb(0 0 0 / 0%);
    backdrop-filter: blur(0px);
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    z-index: 999;
    transition: background-color 0.3s ease;
}
    .navbar-nav.active {
      display: flex;
      transform: translateY(0); /* Mostra o menu descendo */
  
    }
    .navbar-nav li {
      width: 100%;
    }
    .navbar-nav li a {
      display: block;
      color: #ffffff;
      font-weight: 100;
      text-align: center;
      padding: 14px 16px;
      font-family: 'futura', sans-serif;
      font-size: 14px;
      padding-top: 35px;
      text-decoration: none;
      transition: 0.2s;
  }
  .navbar-nav li a:hover {
    display: block;
    color: #7a7a7a;
    text-align: center;
    color: #fff;
    padding: 14px 16px;
    /* font-family: 'GoshaSans', sans-serif; */
    font-size: 14px;
    padding-top: 30px;
    text-decoration: none;
    transition: 0.2s;
}
    .social-icons {
      float: none;
      display: none;
      margin: 0;
      text-align: center;
    }
    .navbar-toggler {
        display: block;
        color: #FFF;
        float: right;
        margin-top: 10px;
        margin-right: 50px;
        font-size: 40px;
        cursor: pointer;
    }
  
  }.carousel-container {
    position: relative;
    width: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius:00px;
    height: 950px;
    overflow: hidden;
    transition: height 0.1s ease;
}

.carousel-images img {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    object-fit: cover;
    display: none;
}

.carousel-images img:first-child {
    display: block;
}

.overlay-content {
    position: absolute;
    top: 25%;
    left: 0%;
    width: 100%;
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    z-index: 1;
    background: rgba(0, 0, 0, 0);
    animation: slideInFromLeft 2s ease-out 0.3s forwards;
}
.overlay-content p {
  margin: 10px 0;
  FONT-WEIGHT: unset;
  font-weight: 100;
  font-family: math;
  font-size: 20px;
  margin-left: 5%;
  text-align: left;
}
.overlay-content h1 {
  font-size: 105px;
  line-height: 65px;
  text-align: left;
  font-weight: 400;
  font-family: math;
  margin-bottom: 0px;
  color: #ffffff;
  margin-top: 15px;
  margin-left: 5%;
}

.overlay-content h2 {
    font-size: 45px;
    line-height: 35px;
    text-align: left;
    font-weight: 400;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-top: 15px;
    margin-left: 5%;
}

/* Estilizando a navegação do carrossel */
.carousel-navigation {
    display: flex;  margin-left: 5%;
    justify-content: center;
    margin-top: 20px;
}
.carousel-prev, .carousel-next {
  background-color: rgb(255 255 255);
  border: none;
  color: #000000;
  font-size: 14px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50px;
  margin: 0 15px;
}
.carousel-prev:hover{
  transition: 0.2s;
  color: #fff;
  background-color: #9e9d9d;
}
.carousel-next:hover{
  transition: 0.2s;
  color: #fff;
  background-color: #9e9d9d;
}
.carousel-texts {
  text-align: left;
  margin-left: 5%;
  margin-top: 20px;
  WIDTH: 300PX;
}

.carousel-text {
    display: none;
    font-size: 20px;
    color: #fff;
}

.carousel-text.active {
    display: block;
}

.carousel-images {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-images img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  display: block; /* Corrigir para garantir que a imagem apareça corretamente */
}

.carousel-images img.active {
  opacity: 1;
}



@media (max-width: 1100px) {
 /* Estilos para o texto do título */
.overlay-content h1 {
  font-size: 3em; /* Ajuste o tamanho da fonte conforme necessário */
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  border-right: .15em solid orange; /* Adiciona um "cursor" piscante */
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

/* Animação de digitação */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* Animação do cursor piscante */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; /* Cor do cursor piscante */ }
}
.overlay-content h2 {
  font-size: 25px;
  line-height: 25px;
  text-align: left;
  font-weight: 0;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5%;
}
.overlay-content p {
  margin: 20px 20px;
  font-size: 10px;
  text-align: center;
}
.overlay-content p {
  margin: 0px 20px;
  font-size: 12px;
  margin-bottom: -20px;
  text-align: center;
}
.video-container {
  position: relative;
  width: 100%;
  height: 400px;
}
.social-icons-footer {
  float: left;
  font-size: 25px;
  display: flex;
  margin-right: 0px;
  padding-top: 30px;
}

}